[submodule "submodules/quickstart-aws-vpc"]
	path = submodules/quickstart-aws-vpc
	url = ../../aws-quickstart/quickstart-aws-vpc.git
	branch = master
[submodule "submodules/quickstart-linux-bastion"]
	path = submodules/quickstart-linux-bastion
	url = ../../aws-quickstart/quickstart-linux-bastion.git
	branch = master
[submodule "submodules/quickstart-sap-hana"]
	path = submodules/quickstart-sap-hana
	url = ../../aws-quickstart/quickstart-sap-hana.git
	branch = master
[submodule "submodules/quickstart-sap-hana-ha"]
	path = submodules/quickstart-sap-hana-ha
	url = ../../aws-quickstart/quickstart-sap-hana-ha.git
	branch = master


